* {
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

body {
    background-color: #cfe8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    text-align: center;
    background-color: #dff0ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    margin-bottom: 10px;
}

p {
    color: #555;
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

label {
    font-size: 1em;
    color: #333;
    margin-bottom: 5px;
}

input[type="text"] {
    padding: 10px;
    border: 2px solid #008CBA;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 1em;
    width: calc(100% - 24px);
    max-width: 300px;
}

input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:disabled {
    cursor: not-allowed; /* Change cursor to indicate disabled state */
    opacity: 0.6;
}


.resultParas {
    margin-top: 20px;
}

.resultParas p {
    font-size: 1em;
    color: #333;
}

.lowOrHi {
    color: #ff0000;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #008CBA;
    color: white;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
}