* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
    font-family: 'Arial', sans-serif;
}

.clock-container {
    text-align: center;
}

.clock {
    font-size: 3em;
    margin-bottom: 20px;
}